.full-screen-spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sk-chase-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sk-chase {
    height: 200px;
    width: 200px;
}
